/* Simple reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles */

#bookshelf {
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  height: 220px;
  width: 150px;
  background-color: rgb(84, 140, 161);
  padding: 1rem;
  margin: 1rem;
}

#book-form {
  display: none;
}


